.box-austin {
	width: 300px;
	height: 460px;
	position: relative;
	background: rgba(255,255,255,1);
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	color: #2c3e50;
	box-shadow: inset 0 0 0 3px #2c3e50;
	-webkit-transition: background 0.4s;
	transition: background 0.4s;
}
.box-kirby {
	width: 500px;
	height: 312px;
	position: relative;
	background: rgba(255,255,255,1);
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	color: #2c3e50;
	box-shadow: inset 0 0 0 3px #2c3e50;
	-webkit-transition: background 0.4s;
	transition: background 0.4s;
}
.box-road {
	width: 300px;
	height: 198px;
	position: relative;
	background: rgba(255,255,255,1);
	display: inline-block;
	margin: 0;
	cursor: pointer;
	color: #2c3e50;
	box-shadow: inset 0 0 0 3px #2c3e50;
	-webkit-transition: background 0.4s;
	transition: background 0.4s;
}
.box-pine-drops {
	width: 300px;
	height: 198px;
	position: relative;
	background: rgba(255,255,255,1);
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	color: #2c3e50;
	box-shadow: inset 0 0 0 3px #2c3e50;
	-webkit-transition: background 0.4s;
	transition: background 0.4s;
}
.box-pine-icicles {
	width: 300px;
	height: 198px;
	position: relative;
	background: rgba(255,255,255,1);
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	color: #2c3e50;
	box-shadow: inset 0 0 0 3px #2c3e50;
	-webkit-transition: background 0.4s;
	transition: background 0.4s;
}
.box:hover {
	transition: background 0.4s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	background-size: contain;
}

.box h3 {
	font-family: 'Product Sans', Arial, sans-serif;
	font-size: 10;
	margin: 0;
	font-weight: 400;
	width: 100%;
}

.box span {
	display: block;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 5px;
}

.box h3,
.box span {
	-webkit-transition: color 0.4s 0.5s;
	transition: color 0.4s 0.5s;
}

.box:hover h3,
.box:hover span {
	color: #fff;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.box svg {
	position: absolute;
	top: 0;
	left: 0;
}

.box svg line {
	stroke-width: 3;
	stroke: #414141;
	fill: none;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

.box:hover svg line {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.box-austin svg line.top,
.box-austin svg line.bottom {
	stroke-dasharray: 330 240; 
}

.box-austin svg line.left,
.box-austin svg line.right {
	stroke-dasharray: 490 400;
}

.box-austin:hover svg line.top {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
}

.box-austin:hover svg line.bottom {
	-webkit-transform: translateX(600px);
	transform: translateX(600px);
}

.box-austin:hover svg line.left {
	-webkit-transform: translateY(920px);
	transform: translateY(920px);
}

.box-austin:hover svg line.right {
	-webkit-transform: translateY(-920px);
	transform: translateY(-920px);
}
.box-road svg line.top,
.box-road svg line.bottom {
	stroke-dasharray: 330 240; 
}

.box-road svg line.left,
.box-road svg line.right {
	stroke-dasharray: 490 400;
}

.box-road:hover svg line.top {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
}

.box-road:hover svg line.bottom {
	-webkit-transform: translateX(600px);
	transform: translateX(600px);
}

.box-road:hover svg line.left {
	-webkit-transform: translateY(396px);
	transform: translateY(396px);
}

.box-road:hover svg line.right {
	-webkit-transform: translateY(-396px);
	transform: translateY(-396px);
}
.box-pine-drops svg line.top,
.box-pine-drops svg line.bottom {
	stroke-dasharray: 330 240; 
}

.box-pine-drops svg line.left,
.box-pine-drops svg line.right {
	stroke-dasharray: 490 400;
}

.box-pine-drops:hover svg line.top {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
}

.box-pine-drops:hover svg line.bottom {
	-webkit-transform: translateX(600px);
	transform: translateX(600px);
}

.box-pine-drops:hover svg line.left {
	-webkit-transform: translateY(396px);
	transform: translateY(396px);
}

.box-pine-drops:hover svg line.right {
	-webkit-transform: translateY(-396px);
	transform: translateY(-396px);
}
.box-pine-icicles svg line.top,
.box-pine-icicles svg line.bottom {
	stroke-dasharray: 330 240; 
}

.box-pine-icicles svg line.left,
.box-pine-icicles svg line.right {
	stroke-dasharray: 490 400;
}

.box-pine-icicles:hover svg line.top {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
}

.box-pine-icicles:hover svg line.bottom {
	-webkit-transform: translateX(600px);
	transform: translateX(600px);
}

.box-pine-icicles:hover svg line.left {
	-webkit-transform: translateY(396px);
	transform: translateY(396px);
}

.box-pine-icicles:hover svg line.right {
	-webkit-transform: translateY(-396px);
	transform: translateY(-396px);
}
.box-kirby svg line.top
 {
	stroke-dasharray: 556 68; 
}
.box-kirby svg line.bottom {
	stroke-dasharray: 556 240;
}

.box-kirby svg line.left,
.box-kirby svg line.right {
	stroke-dasharray: 490 400;
}

.box-kirby:hover svg line.top {
	-webkit-transform: translateX(-624px);
	transform: translateX(-624px);
}

.box-kirby:hover svg line.bottom {
	-webkit-transform: translateX(624px);
	transform: translateX(624px);
}

.box-kirby:hover svg line.left {
	-webkit-transform: translateY(1000px);
	transform: translateY(1000px);
}

.box-kirby:hover svg line.right {
	-webkit-transform: translateY(-1000px);
	transform: translateY(-1000px);
}
/* Alternatives */

/* Color */
.demo-2 .box {
	box-shadow: inset 0 0 0 10px #2c3e50;
}

.demo-2 .box:hover h3,
.demo-2 .box:hover span {
	color: #fe6f83;
}

.demo-2 .box svg line {
	stroke-width: 8;
}

.demo-2 .box:hover svg line {
	stroke: #fe6f83;
} 