a.imagebox {
  opacity: 1;
  position: absolute;
  transition: all 1s ease-in-out;
}

a.imagebox:hover {
  opacity: 1;
}
@font-face {
  font-family: 'Semplicita Ombra';
  font-style: normal;
  font-weight: normal;
  src: local('Semplicita Ombra'), url('Semplicita Ombra.otf') format('opentype');
}
@font-face {
  font-family: 'Langdon';
  font-style: normal;
  font-weight: normal;
  src: local('Langdon'), url('Langdon.otf') format('opentype');
}
@font-face {
  font-family: 'IDK';
  font-style: normal;
  font-weight: normal;
  src: local('IDK'), url('IDK.ttf');
}
@font-face {
  font-family: 'Geometos';
  font-style: normal;
  font-weight: normal;
  src: local('Geometos'), url('Geometos.ttf');
}
.container h1 {
  font-family: 'IDK', sans-serif;
  font-size: 35vw;
  line-height: 1em;
  letter-spacing: 6vw;
  margin: 0 auto;
  padding: 0;
  padding-top: 10vh;
  text-align: center;
  color: #fff;
  /* the property that creates the splatter effect */
  -webkit-mask-image: url('optimised.svg');
  mask-image: url('optimised.svg');
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: url('optimised (1).svg');
	-webkit-mask-size: .45em;
}

.container {
  background-repeat: no-repeat;
}

.container h2 {
  margin-top: 0em;
  text-align: center;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: 500;
  font-size: 2.5em;
}

.lb-overlay img {
  
}

.lb-overlay {
  background-color: black !important;
}

body {
  background-color: #414141;
  font-size: 16px;
}
.noti {
  border: 5px solid;
}
.hinge {
  animation-duration: 5s;
	z-index: 1000001;
}
.lb-close {
  zoom: 2;
  top: 0px;
	width: 24px;
	height: 24px;
}
.main-image-overlay {
  top: 5%;
  bottom: 5%;
  max-height: 90%;
}
    .blur-up {
        -webkit-filter: blur(1px);
        filter: blur(1px);
        transition: filter 1000ms, -webkit-filter 1000ms;
    }

    .blur-up.lazyloaded {
        -webkit-filter: blur(0);
        filter: blur(0);
    }
		.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
.body-overlay {
	overflow: hidden;
}
img {
  image-orientation: from-image;
}
.white-text {
	font-size: 1em;
}
.grey-text {
	font-size: 2em;
	font-family: "Montserrat";
}
.container .row {
	margin: 0px;
}
.lb-overlay div h3 {
	top: 0%;
	position: fixed;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #f3e5f5
    right: 50%;
    left: 50%;
    padding-left: 0px;
    padding-right: 0px;

}
.lb-overlay div p {
	bottom: 0%;
	position: fixed;
}
.lb-overlay div h3 span {
	font-size: 2rem;
	line-height: normal;
}
.lb-overlay div h3 span, .lb-overlay div p {
	font-style: normal;
}
.nav-fillpath a::before, .nav-fillpath .icon-wrap::before {
	will-change: transform;
}
.nav-fillpath a.next::before, .nav-fillpath a.next .icon-wrap::before {
	will-change: transform;
}
.card-title {
	font-size: 2rem !important;
	font-weight: 400 !important;
}
.card {
	box-shadow: 0 0 0 0px;
}
html { -webkit-font-smoothing: antialiased; }

.cl-effect-14 a {
	margin: 0 10px;
	padding: 10px 20px;
}

.cl-effect-14 a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: black;
	content: '';
	-webkit-transition: top 0.5s;
	-moz-transition: top 0.5s;
	transition: top 0.5s;
	mix-blend-mode: difference;
}

.cl-effect-14 a::after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	background: #fff;
	content: '';
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	transition: height 0.5s;
}

.cl-effect-14 a:hover::before {
	top: 100%;
	opacity: 1;
}

.cl-effect-14 a:hover::after {
	height: 100%;
} 

nav.cl-effect-14 {
	height: auto;
}
.white-text.social {
	text-align: -webkit-center;
	font-size: 2em;
}
a.grey-text.text-lighten-3:after {
	mix-blend-mode:difference;
}